.table.th,
.table td {
    border: 1px solid black;
    padding: 8px;
}
.table th {
    background-color: black;
    color: white;
}
.table tr:hover { background-color: lightskyblue;}
.table th:nth-child(1),
.table th:nth-child(1)
