.container {
  width: 1024px;
  margin: 50px auto;
}

.btn {
  display: inline-block;
  min-width: 100px;
  min-height: 20px;
  padding: 12px 24px;
  background-color: inherit;
  border: 1px solid black;
}